* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*header section*/
.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(51, 21, 21, 0.876),
      #352712e1
    ),
    url(../images/massage.jpg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  position: relative;
}

.header-box {
  top: 40%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  backface-visibility: hidden;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

.header-primary {
  color: #f5f3eddc;
  margin-bottom: 2rem;
}

.header-text-main {
  font-size: 3rem;
  display: block;
  letter-spacing: 6.5px;
  animation-name: moveInLeft;
  animation-duration: 3.5s;
  animation-timing-function: ease-in-out;
}

.header-text-sub {
  font-size: 1.5rem;
  display: block;
  animation-name: moveInRight;
  animation-duration: 3.5s;
  animation-timing-function: ease-in-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.page2-header {
  text-align: center;
  line-height: 3.8;
  padding: 0 5rem;
  margin-bottom: 2rem;
}

.page-2-header,
p {
  font-size: 1.2rem;

  margin-bottom: 2rem;
}

.page-2-header,
h1 {
  font-size: 2.5rem;
  padding-bottom: 0;

  margin-bottom: 1.5rem;
}

.page-3-header {
  height: 95vh;

  background-image: linear-gradient(
      to right bottom,
      #352712ed,
      rgba(51, 21, 21, 0.87)
    ),
    url(../images/monica-dahiya-ByjphQkZYRM-unsplash.jpg);
  background-size: cover;
  background-position: top;
  /*clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);*/
  position: relative;
  text-align: center;
  padding-bottom: 2rem;
  /* margin-bottom: 2rem;*/
  border-radius: 0.6rem;
  border: 5px solid #6b695e;
  margin: 2rem 0;
}

.page-3-text-box {
  /* border: solid 1px #f5f3ed25; */
  position: relative;
  top: 50%;
  transform: translatey(-50%);
  width: 100%;
  border-radius: 10px;
  padding: 0 2rem;
}
.page-3-header-main-text {
  font-size: 2.5rem;
  color: #f5f3eddc;

  padding-top: 2.5rem;
  letter-spacing: 0.5rem;
}

.page-3-paragraph {
  color: #f5f3eddc;
  padding: 3rem;
  line-height: 3.3;
}

.page-3-body {
  z-index: 10;
  margin: 0 auto;
}
body {
  background-color: rgba(250, 243, 226, 0.952);
  padding: 30px;
  color: rgba(51, 21, 21, 0.965);
  font-family: "Times New Roman", Times, serif;
}

.fade-in {
  padding: 30px;
  animation: fade-in 3s;
  color: rgba(250, 243, 226, 0.952);
  font-family: "Times New Roman", Times, serif;
}

.page-2-wrapper {
  background-image: linear-gradient(
    to bottom,
    rgba(51, 21, 21, 0.897) 70%,
    #352712e8
  );
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*container section*/

.container {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.container-2 {
  width: 100%;
  height: 300px;
  margin-top: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

/*card section*/

.card-container {
  width: 300px;
  height: 300px;
  margin-bottom: 20px;
}

.card-container2 {
  width: 300px;
  height: 300px;
  margin-bottom: 20px;
}

.card-container3 {
  width: 300px;
  height: 300px;
  margin-bottom: 20px;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1.5s ease-in-out 0.2s;
  transform-style: preserve-3d;
}

.card-container:hover .card {
  transform: rotateY(180deg);
  border-radius: 15px;
}

.card-container2:hover .card {
  transform: rotateY(180deg);
}

.card-container3:hover .card {
  transform: rotateY(180deg);
}

.card .front {
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

.card .back {
  background: #f5f3ed;
  color: #6b695e;
  transform: rotateY(180deg);
  cursor: pointer;
}

.card .back p {
  padding: 3.5rem;
  line-height: 2.2;
}

.card figure {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0;
  border: 3px solid #6b695e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

img {
  border: 1px solid #6b695e;
}

/*button section*/

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 30px;
  display: inline-block;
  border-radius: 50px;
  transition: all 0.3s;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.btn-white {
  background-color: #f5f3edaf;
  color: #160e0be5;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background-color: #f5f3ed;
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
  background-color: #352712ec transition 1s;
}

.btn-wrapper {
  display: flex;
  justify-content: space-evenly;
  background-image: linear-gradient(
    to right bottom,
    #352712ed,
    rgba(51, 21, 21, 0.87)
  );
  margin: 0 auto;
  padding: 1rem;
  width: 60%;
}

btn a {
  color: rgba(0, 0, 0, 0.6);
  background-color: #f5f3ed;
}
/*icon section*/

.icon-wrapper {
  display: flex;
  justify-content: center;
}

i {
  font-size: 48px;
  display: inline-block;
  margin: 50px 30px 100px 30px;
  color: #6b695e;
}

i:hover {
  color: #f5f3edf1;
  transition: all 0.75;
}

.decorative-items {
  margin-bottom: 40px;
}

/*testimonial-section*/

.testimonial-header {
  text-align: center;
  font-size: 3rem;
  color: rgba(51, 21, 21, 0.876);
  margin: 2rem 0;
}

.testimonial-container {
  width: 100%;
  background-color: rgba(250, 243, 226, 0.952);
  display: flex;
  /* border: 5px solid #6b695e;*/
  border-radius: 10px;
  margin-bottom: 1.5rem;
}

.testimonial-column-a {
  flex-direction: column;
  display: flex;
  width: 100%;
  align-items: center;
  box-sizing: border-box;
}

.testimonial-column-b {
  flex-direction: column;
  display: flex;
  width: 100%;
  align-items: center;
}

.testimonial-item {
  width: 80%;
  margin: 1rem 0;
  /* background-image: linear-gradient(
    to right bottom,
    #352712ed,
    rgba(51, 21, 21, 0.87)
  );*/
  background-image: linear-gradient(
      to right bottom,
      #352712ed,
      rgba(51, 21, 21, 0.87)
    ),
    url(../images/monica-dahiya-ByjphQkZYRM-unsplash.jpg);
  background-size: cover;
  background-position: bottom;
  color: #f5f3edf1;
  border-radius: 10px;
  text-align: center;
  border: 5px solid #6b695e;
  padding: 1rem;
}

h3 {
  padding: 1rem 0;
}

/*booking-section*/

.contact-header {
  text-align: center;
  font-size: 3rem;
  color: rgba(51, 21, 21, 0.876);
  margin: 2rem 0;
}

.booking-section {
  background-image: linear-gradient(
      to right bottom,
      #352712ed,
      rgba(51, 21, 21, 0.87)
    ),
    url(../images/monica-dahiya-ByjphQkZYRM-unsplash.jpg);
  background-size: cover;
  background-position: top;

  position: relative;
  text-align: center;
  margin: 1rem 0;
  border-radius: 10px;
  padding: 2rem;
  color: #f5f3edf1;
  line-height: 1.5;
  font-size: 1.6rem;
  border: 5px solid #6b695e;
}

.booking-section ul {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: space-around;
}

.booking-section li {
  flex: 1;
}
ul {
  list-style: none;
  font-size: 1.5rem;
}

.email a {
  color: #f5f3edf1;
  font-size: 1.5rem;
}

.phone a {
  color: #f5f3edf1;
  font-size: 1.5rem;
}

.phone a:hover {
  color: #f3e9b6;
}

.email a:hover {
  color: #f3e9b6;
}
/* #booking-icon {
  font-size: 2rem;
  margin: 2rem;
  text-align: center;
} */

/* #booking-icon2 {
  font-size: 2rem;
  margin: 2rem;
  text-align: center;
} */

/* page-3-footer */

.page-3-footer {
  width: 90%;
  margin: 0 auto;
  background-image: linear-gradient(
      to right bottom,
      #352712ed,
      rgba(51, 21, 21, 0.87)
    ),
    url(../images/monica-dahiya-ByjphQkZYRM-unsplash.jpg);
  background-size: cover;
  background-position: top;
  border-radius: 10px;
  text-align: center;
  border: 5px solid #6b695e;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
}

/* #footer-button {
  position: relative;
  top: 50%;
  transform: translatey(-50%);
} */

.page-3-services-button {
  justify-content: center;
  align-items: center;
}

.page-3-home-button {
  justify-content: center;
  align-items: center;
}

/*footer-icons*/

.footer-media-icons {
  font-size: small;
  display: flex;
  justify-content: center;
}

li,
.footer-icon {
  font-size: small;
  display: inline-block;
}

/*page-2 media queries*/

@media (max-width: 640px) {
  .vanish {
    display: none;
  }
  .page2-header {
    line-height: 1.8;
    padding: 0 1rem;
  }
  .page-3-paragraph {
    padding: 0;
  }
}

@media (max-width: 550px) {
  .booking-section ul {
    flex-direction: column;
  }
  .email,
  .phone {
    margin-bottom: 1rem;
  }
}
@media (max-width: 400px) {
  .vanish-2 {
    display: none;
  }
  margin-vanish {
    margin-bottom: 0;
  }
  icon-wrapper {
    flex-wrap: wrap;
  }
  .icon-wrapper i {
    margin: 1rem;
  }
  .page-3-text-box {
    padding: 0;
  }
  .page-3-paragraph {
    line-height: 2;
  }
  .testimonial-column-b {
    display: none;
  }
  .testimonial-item {
    width: 90vw;
  }
}

@media (max-width: 359px) {
  .container img {
    width: 90%;
  }
  /* .back p {
    display: none;
  } */
  .back p {
    line-height: 1;
  }
  .page-2-body {
    padding: 0;
  }
  .page-3-header {
    width: 90vw;
  }
  .booking-section {
    width: 90vw;
  }
  .testimonial-container {
    width: 90vw;
  }
  .contact-header {
    width: 100vw;
    margin-right: 1rem;
  }
  .page-3-footer {
    width: 90vw;
  }
  .footer-media-icons {
    width: 90vw;
  }
  .page-3-paragraph {
    line-height: 1.2;
  }
}
